@import "tailwindcss";

aside::-webkit-scrollbar {
  width: 8px;
}

aside::-webkit-scrollbar-track {
  background: transparent;
}

aside::-webkit-scrollbar-thumb {
  background: #2d3748; /* Tailwind gray-800 */
  border-radius: 4px;
}

.ProseMirror:focus {
  outline: none !important;
}

@layer base {
  * {
    border: var(--color-border);
    outline: 50% solid var(--color-ring);
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
  }
}

@layer components {
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }

  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration, 40s) linear infinite;
  }
}

.testimonial-carousel {
  max-width: 800px;
  margin: auto;
}

.testimonial-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
